*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

a {
    text-decoration: none;
}

:root {
    --primary: #D2872C;
    --scundary: #766F68;
}


#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    margin: 1.8rem 2.2rem 0 2.2rem;
}

#header #logo{
    color: var(--primary);
    font-weight: 900;
    font-size: 3rem;
}

#menu {
    display: flex;
    list-style: none;
    gap: .5rem;
}

#menu a {
    padding: .5rem;
    font-size: 1.8rem;
    color: var(--scundary);
    font-weight: 400;
}

#btn-mobile {
    display: none;
}

main {
    height: 73vh;
    background-image: url(./assets/team.jpg);
    /* background-size: contain; */
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    background-size: 70% 88%;
}

@media (max-width: 940px) {
    main{
        background-size: 74% 83%;
        background-position-y: bottom;
        height: 72vh;
 }

    #menu {
    display: block;
    position: absolute;
    width: 0;
   
    right: 0px;
    top: 5rem;
    display: block;
    text-align: center;
    z-index: 1000;
    height: 0;
    transition: .6s;
    visibility: hidden;
    overflow-x: hidden;
  }

  #header #logo{
      color: var(--primary);
      font-weight: 900;
  }

  #nav.active #menu { 
    height: 80%;
    visibility: visible;
    overflow-x: auto;
    width: 15%;
  }

  #menu li a {
    padding: 1rem 0;
    margin: 0 1rem;
    line-height: 5;
    color: var(--scundary);
    font-weight: 500;
  }

  #btn-mobile {
    display: flex;
    padding:  .5rem 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: .5rem;
}
    
#btn-mobile i {
    font-size: 1.5rem;
    color: var(--scundary);
}

}